{%extends 'AppTwo/main_page.html'%}
  {% block header_block %}
    <div class="jumbotron">
      <h1>Please Login In</h1>
      <form action="{% url 'AppTwo:user_login'%}" method="post">
        {% csrf_token %}

        <label for="username">Username:</label>
        <input type="text" name="username" value="" placeholder="Enter Username">

        <label for="password">Password:</label>
        <input type="password" name="password" value="">

        <input type="submit" name="" value="Login">
      </form>

    </div>

  {% endblock%}
